<div class="modal" ng-controller="KisBpmShapeSelectionCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="close()" type="button">&times;
                </button>
                <h2>Change shape to:</h2>
            </div>
            <div class="modal-body">

                <div class="kis-listener-grid" ng-grid="gridOptions"></div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="cancel()" translate>ACTION.CANCEL</button>
                <button class="btn btn-primary" ng-click="select()" translate>ACTION.SELECT</button>
            </div>
        </div>
    </div>
</div>
